

.container-layout{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.avatar {
    background-color: rgba(240, 248, 255, 0.247);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 2px;
    border: 1px solid rgba(129, 129, 129, 0.384);
}

.header{
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}

.button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 10px;
    margin-inline: 10px;

}

.button:hover {
    padding: 10px;
    background-color: rgba(194, 194, 194, 0.164);
    border-radius: 60px;
    color: green;
}